body {
  font-family: 'Poppins', sans-serif;
  background-color: bisque;
  margin: 0;
  padding: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: rgb(248, 195, 50);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 20px;
  text-align: center;
}

.date {
  font-size: 14px;
  margin-bottom: 10px;
}

.pink { color: #e91e63; }
.orange { color: #ff5722; }
.green { color: #4caf50; }

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.pink-bg { background: #e91e63; }
.orange-bg { background: #ff5722; }
.green-bg { background: #4caf50; }

.footer p {
  margin: 0;
  flex: 1;
  text-align: center;
  position: relative;
}

.footer p:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5%;
    height: 100%;
    width: 2px;
    background-color: black;
}