body {
    font-family: Arial, sans-serif;
    background-color: #9fcaf5;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #222;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: lightpink;
    box-shadow: 0 0 10px rgba(243, 40, 40, 0.1);
}

th, td {
    border: 1px solid;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #e0e0e0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

td[colspan="5"] {
    background-color: #ffe6cc;
    font-weight: bold;
}